*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.changelog-component{
    width:90%;
    margin: 2rem auto;    
    border: 2px black solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 1rem;
    text-align: center;
}
.changelog-subtitle{
    color: rgb(167, 165, 165);
}
.changelog-button{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    padding: 0.8rem 2rem;
    border: 0;
}
.changelog-button a{
    text-decoration: none;
    color: rgb(228, 228, 228);
}
.timeline-row{
    display: flex;
    align-items: center;
}
.black-circle{
    max-width: 1rem;
    max-height: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    margin: 3rem 0;
}
.borderline{
    width: 0.3rem;
    background-color: rgb(0, 0, 0);
    height: 4rem;
    position: absolute;
}
@media (min-width:768px) {
    .changelog-component{
        max-width: 70%;
    }
    .timeline-row{
        gap: 2rem;
    }
    .borderline{
        height: 3rem;
    }
}
@media (min-width:1024px) {
    .changelog-component{
        max-width: 50vw;
    }
    .timeline-row{
        gap: 2rem;
    }
}
